.area-1{
    margin-top: 20px;
}

.lista-casa {
    margin: 10px;
    border-top: 2px solid #db8f2c;
}
#sala, #cozinha, #quartos, #sala-estudos, #area-externa, #banheiros, #lavanderia{
 margin-bottom: 50px;
 margin-left: 20px;
 margin-right: 20px;
}


.lista-casa li {
    margin: 25px 10px;
    font-size: 1.1em;
}
h1{
    color: #db8f2c !important
}

h4{
    font-weight: bold;
    font-size: 30px;
    color: #252020;
}

small {
    color: #999;
}