.endereco-desc {
    max-width: 300px;
    margin: 0 auto;
    color: #555;
}

.contato-card {
    margin: 25px auto;
    margin-left: 40px;
    width: 60%;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2em;
    text-align: right;
    border-radius: 15px;
    text-decoration: none;
}

.contato-fb{
    border: 1px solid #3b5998;
    background: #3b5998;
    color: #fff;
}
.contato-fb:hover {
    background: 1px solid #243c70;
    
}
.contato-instagram{
    border: 1px solid #db5938;
    background: #db5938;
    color: #fff;
}
.contato-instagram:hover {
    background: 1px solid #a13b21;
    
}
.contato-whatsapp{
    border: 1px solid #34af23;
    background: #34af23;
    color: #fff;
}
.contato-whatsapp:hover {
    background: 1px solid #1b5f12;
}
.contato-card i {
    float: left;
    margin-right: 15px;
    font-size: 1.4em;
}
a{
    text-decoration: none;
}